# .clang-format
BasedOnStyle: Google
ColumnLimit: 100
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: "true"
AccessModifierOffset: -4
IndentWidth: 4
BreakBeforeBraces: Allman
PointerAlignment: Left
